<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Code Folding.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779853.31353199</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>Copying text.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779853.03610098</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Deleting text.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779852.93692398</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>Editing a file.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779852.52511799</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Extended Vim Commands.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779853.48219502</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>Indentation.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779853.15028399</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>Inserting-Replacing text.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779852.680839</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>Joining text.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779852.72743797</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>Line Numbers.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779852.36219299</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Miscellaneous.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779853.37412798</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>Moving around in a file.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779852.884507</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>Pasting text.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779853.08311099</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Repeating a command.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779852.46813899</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>Saving-Closing a file.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779852.557845</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Searching-Replacing.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779852.62835401</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>Standard Vim Commands.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779852.30642098</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Text Transformation.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>513735902.51745099</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>Undoing-Cancelling commands.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779852.41194099</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>Vim Commands.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779852.26046002</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Vim Modelines.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779853.55496597</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>Vim Options.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779853.56270498</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>Visual (Selection) mode.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779853.21815503</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>18</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Vim Commands.textbundle</string>
		</array>
		<array>
			<string>Standard Vim Commands.textbundle</string>
		</array>
		<array>
			<string>Line Numbers.textbundle</string>
		</array>
		<array>
			<string>Undoing-Cancelling commands.textbundle</string>
		</array>
		<array>
			<string>Repeating a command.textbundle</string>
		</array>
		<array>
			<string>Editing a file.textbundle</string>
		</array>
		<array>
			<string>Saving-Closing a file.textbundle</string>
		</array>
		<array>
			<string>Searching-Replacing.textbundle</string>
		</array>
		<array>
			<string>Inserting-Replacing text.textbundle</string>
		</array>
		<array>
			<string>Joining text.textbundle</string>
		</array>
		<array>
			<string>Text Transformation.textbundle</string>
		</array>
		<array>
			<string>Moving around in a file.textbundle</string>
		</array>
		<array>
			<string>Deleting text.textbundle</string>
		</array>
		<array>
			<string>Copying text.textbundle</string>
		</array>
		<array>
			<string>Pasting text.textbundle</string>
		</array>
		<array>
			<string>Indentation.textbundle</string>
		</array>
		<array>
			<string>Visual (Selection) mode.textbundle</string>
		</array>
		<array>
			<string>Code Folding.textbundle</string>
		</array>
		<array>
			<string>Miscellaneous.textbundle</string>
		</array>
		<array>
			<string>Extended Vim Commands.textbundle</string>
		</array>
		<array>
			<string>Vim Options.textbundle</string>
		</array>
		<array>
			<string>Vim Modelines.textbundle</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
			<integer>25</integer>
		</dict>
	</dict>
</dict>
</plist>
