<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Editing Language References.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>511941024.78707802</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Language Reference Documentation.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>511939953.64718598</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Searching a Language-Specific Website.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>511940967.39671302</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>Viewing a Language-Specific Website.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>511940389.541637</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Language Reference Documentation.textbundle</string>
		</array>
		<array>
			<string>Editing Language References.textbundle</string>
		</array>
		<array>
			<string>Viewing a Language-Specific Website.textbundle</string>
		</array>
		<array>
			<string>Searching a Language-Specific Website.textbundle</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
			<integer>16</integer>
		</dict>
	</dict>
</dict>
</plist>
