<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>order</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>order</key>
		<dict/>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>order</key>
		<dict>
			<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
			<integer>14</integer>
			<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
			<integer>164</integer>
		</dict>
	</dict>
</dict>
</plist>
