<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>TKE User Guide</string>
		<string>TKE Developer Guide</string>
	</array>
	<key>createMarkedFile</key>
	<integer>1</integer>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>TKE Developer Guide</key>
			<dict>
				<key>lastModification</key>
				<real>504779712.57149702</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>TKE User Guide</key>
			<dict>
				<key>lastModification</key>
				<real>504779851.13357502</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
		<key>createMarkedFile</key>
		<real>504779364.45924002</real>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
			<integer>7</integer>
		</dict>
		<key>createMarkedFile</key>
		<dict>
			<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
