<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Plugin Action Types.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779712.94687003</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>dir_popup.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.18551898</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>do_pref_ui.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.78724802</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>file_popup.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.235084</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>info_panel.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>521617312.21990901</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>4</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>menu.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.02334303</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>on_close.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.46585399</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>on_delete.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.63804102</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>on_duplicate.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.60390598</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>on_focusin.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.406699</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>on_open.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.40489602</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>on_pref_load.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.78361702</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>on_quit.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.46565801</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>on_reload.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.51441902</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>on_rename.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.60441297</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>on_save.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.499331</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>on_start.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.34204602</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>on_trash.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.63822001</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>on_uninstall.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.54797399</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>root_popup.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.13444901</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>syntax.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.68954998</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>tab_popup.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.07987303</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>text_binding.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.29915398</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>vcs.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.73650199</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>22</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Plugin Action Types.textbundle</string>
		</array>
		<array>
			<string>menu.textbundle</string>
		</array>
		<array>
			<string>tab_popup.textbundle</string>
		</array>
		<array>
			<string>root_popup.textbundle</string>
		</array>
		<array>
			<string>dir_popup.textbundle</string>
		</array>
		<array>
			<string>file_popup.textbundle</string>
		</array>
		<array>
			<string>info_panel.textbundle</string>
		</array>
		<array>
			<string>text_binding.textbundle</string>
		</array>
		<array>
			<string>on_start.textbundle</string>
		</array>
		<array>
			<string>on_open.textbundle</string>
		</array>
		<array>
			<string>on_focusin.textbundle</string>
		</array>
		<array>
			<string>on_close.textbundle</string>
		</array>
		<array>
			<string>on_quit.textbundle</string>
		</array>
		<array>
			<string>on_reload.textbundle</string>
		</array>
		<array>
			<string>on_save.textbundle</string>
		</array>
		<array>
			<string>on_uninstall.textbundle</string>
		</array>
		<array>
			<string>on_rename.textbundle</string>
		</array>
		<array>
			<string>on_duplicate.textbundle</string>
		</array>
		<array>
			<string>on_delete.textbundle</string>
		</array>
		<array>
			<string>on_trash.textbundle</string>
		</array>
		<array>
			<string>syntax.textbundle</string>
		</array>
		<array>
			<string>vcs.textbundle</string>
		</array>
		<array>
			<string>on_pref_load.textbundle</string>
		</array>
		<array>
			<string>do_pref_ui.textbundle</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
			<integer>4</integer>
			<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
			<integer>26</integer>
		</dict>
	</dict>
</dict>
</plist>
