<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Dependencies.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779851.439731</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Installation.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779851.40432698</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Installing for Linux.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779851.50009102</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Installing for MacOS.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779851.54130298</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>Installing for Windows.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779851.58794802</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>6</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Installation.textbundle</string>
		</array>
		<array>
			<string>Dependencies.textbundle</string>
		</array>
		<array>
			<string>Installing for Linux.textbundle</string>
		</array>
		<array>
			<string>Installing for MacOS.textbundle</string>
		</array>
		<array>
			<string>Installing for Windows.textbundle</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
			<integer>6</integer>
		</dict>
	</dict>
</dict>
</plist>
