<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Button Action Bar.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779854.12822998</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Category Table.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779854.03519303</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>Color Swatch Editor.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779853.96968198</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>Interface.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779853.861489</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Option Description Pane.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779854.09484297</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Option Detail Pane.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779854.144494</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>Sharing New Themes.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>511160858.06879199</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>17</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Theme Editor.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779853.83374202</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Themes.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>511158895.74219</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>17</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Title Bar.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779853.94284397</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Themes.textbundle</string>
		</array>
		<array>
			<string>Theme Editor.textbundle</string>
		</array>
		<array>
			<string>Interface.textbundle</string>
		</array>
		<array>
			<string>Title Bar.textbundle</string>
		</array>
		<array>
			<string>Color Swatch Editor.textbundle</string>
		</array>
		<array>
			<string>Category Table.textbundle</string>
		</array>
		<array>
			<string>Option Detail Pane.textbundle</string>
		</array>
		<array>
			<string>Option Description Pane.textbundle</string>
		</array>
		<array>
			<string>Button Action Bar.textbundle</string>
		</array>
		<array>
			<string>Sharing New Themes.textbundle</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
			<integer>17</integer>
			<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
			<integer>17</integer>
		</dict>
	</dict>
</dict>
</plist>
