<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Prefix</string>
		<string>Plugin Development</string>
		<string>Syntax Handling</string>
		<string>Plugin Action Types</string>
		<string>Plugin API</string>
		<string>Ctext Widget</string>
		<string>Packages</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>Ctext Widget</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.82997698</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>Packages</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.81601602</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Plugin API</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.83021098</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Plugin Action Types</key>
			<dict>
				<key>lastModification</key>
				<real>504779712.94028503</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>Plugin Development</key>
			<dict>
				<key>lastModification</key>
				<real>504779712.57509798</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Prefix</key>
			<dict>
				<key>lastModification</key>
				<real>504779712.57480699</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Syntax Handling</key>
			<dict>
				<key>lastModification</key>
				<real>504779712.94008702</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
		<key>userIconName</key>
		<real>521128584.14497602</real>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Bookmarks</string>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
			<integer>8</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
			<integer>15</integer>
		</dict>
	</dict>
</dict>
</plist>
