<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Command API.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.05370998</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>Ctext Widget.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.84025598</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Differences from the original Ctext widget.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.91328502</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Options.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.99190903</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>delete.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.11496598</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>diff add.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.327869</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>diff ranges.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.22425699</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>diff reset.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.17417002</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>diff sub.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.27711201</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>edit cursorhist.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.27773398</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>edit redoable.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.22456199</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>edit undoable.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.17122197</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>fastdelete.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.41064399</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>fastinsert.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.45658398</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>fastreplace.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.53453398</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>gutter cget.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.68935502</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>gutter clear.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.63176697</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>gutter configure.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.74575001</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>gutter create.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.34426701</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>gutter delete.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.49673003</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>gutter destroy.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.38599998</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>gutter get.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.57837301</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>gutter names.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.77288401</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>gutter set.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.44025397</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>highlight.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.59509301</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>inBackTick - inBackTickRange.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>505031751.94289899</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>inBlockComment - inBlockCommentRange.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>505031250.26626199</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>inComment - inCommentRange.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>505031314.04740798</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>inCommentString - inCommentStringRange.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>505031369.08487099</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>inDoubleQuote - inDoubleQuoteRange.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>505031421.221699</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>inLineComment - inLineCommentRange.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>505031499.32758802</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>46</integer>
				</dict>
			</dict>
			<key>inSingleQuote - inSingleQuoteRange.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>505031560.82220298</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>48</integer>
				</dict>
			</dict>
			<key>inString - inStringRange.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>505031614.22619802</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>insert.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.64018297</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>isEscaped.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.11877799</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>replace.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.77177</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>36</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Ctext Widget.textbundle</string>
		</array>
		<array>
			<string>Differences from the original Ctext widget.textbundle</string>
		</array>
		<array>
			<string>Options.textbundle</string>
		</array>
		<array>
			<string>Command API.textbundle</string>
		</array>
		<array>
			<string>delete.textbundle</string>
		</array>
		<array>
			<string>diff reset.textbundle</string>
		</array>
		<array>
			<string>diff ranges.textbundle</string>
		</array>
		<array>
			<string>diff sub.textbundle</string>
		</array>
		<array>
			<string>diff add.textbundle</string>
		</array>
		<array>
			<string>fastdelete.textbundle</string>
		</array>
		<array>
			<string>fastinsert.textbundle</string>
		</array>
		<array>
			<string>fastreplace.textbundle</string>
		</array>
		<array>
			<string>highlight.textbundle</string>
		</array>
		<array>
			<string>insert.textbundle</string>
		</array>
		<array>
			<string>inBackTick - inBackTickRange.textbundle</string>
		</array>
		<array>
			<string>inBlockComment - inBlockCommentRange.textbundle</string>
		</array>
		<array>
			<string>inComment - inCommentRange.textbundle</string>
		</array>
		<array>
			<string>inCommentString - inCommentStringRange.textbundle</string>
		</array>
		<array>
			<string>inDoubleQuote - inDoubleQuoteRange.textbundle</string>
		</array>
		<array>
			<string>inLineComment - inLineCommentRange.textbundle</string>
		</array>
		<array>
			<string>inSingleQuote - inSingleQuoteRange.textbundle</string>
		</array>
		<array>
			<string>inString - inStringRange.textbundle</string>
		</array>
		<array>
			<string>isEscaped.textbundle</string>
		</array>
		<array>
			<string>edit undoable.textbundle</string>
		</array>
		<array>
			<string>edit redoable.textbundle</string>
		</array>
		<array>
			<string>edit cursorhist.textbundle</string>
		</array>
		<array>
			<string>gutter create.textbundle</string>
		</array>
		<array>
			<string>gutter destroy.textbundle</string>
		</array>
		<array>
			<string>gutter set.textbundle</string>
		</array>
		<array>
			<string>gutter delete.textbundle</string>
		</array>
		<array>
			<string>gutter get.textbundle</string>
		</array>
		<array>
			<string>gutter clear.textbundle</string>
		</array>
		<array>
			<string>gutter cget.textbundle</string>
		</array>
		<array>
			<string>gutter configure.textbundle</string>
		</array>
		<array>
			<string>gutter names.textbundle</string>
		</array>
		<array>
			<string>replace.textbundle</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
			<integer>55</integer>
		</dict>
	</dict>
</dict>
</plist>
