<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Plugin API.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.83923799</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>api--auto_adjust_color.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.49533099</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>api--auto_mix_colors.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.54743201</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>api--color_difference.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.57615799</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>api--color_to_rgb.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.09246802</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>api--edit--bubble_down.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515551435.80726701</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>48</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--bubble_up.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515551421.99048102</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>44</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--comment.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515551448.70682299</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>52</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--delete.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515550666.71433699</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>12</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--format.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515551532.97635698</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>76</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--get_index.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515489627.55951297</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>5</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--indent.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515551487.57121998</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>64</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--join_lines.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515551404.28556502</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>40</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--lower_case.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515551327.405114</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>24</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--move_cursor.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515551521.56521899</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>72</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--rot13.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515551367.348014</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>32</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--title_case.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515551383.81755197</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>36</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--toggle_case.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515551308.659266</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>20</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--toggle_comment.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515551476.15661901</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>60</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--uncomment.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515551460.78091198</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>56</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--unformat.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515551547.06120801</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>78</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--unindent.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515551499.867024</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>68</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--edit--upper_case.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>515551345.05659401</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>28</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--file--add_buffer.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.629659</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>api--file--add_file.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.676696</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>api--file--current_file_index.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.53100002</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>api--file--get_info.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.56884003</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>api--get_color_values.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.44084501</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>api--get_complementary_mono_color.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.14504898</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>api--get_default_background.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.03971398</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>api--get_default_foreground.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.98678499</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>api--get_home_directory.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.03682399</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>api--get_images_directory.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.94145101</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>api--get_plugin_directory.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779713.91604799</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>api--get_user_input.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.483913</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>api--hsl_to_rgb.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.35610902</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>api--hsv_to_rgb.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.25062698</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>api--invoke_menu.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.25143403</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>api--log.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.30399197</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>api--normalize_filename.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.09274203</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>api--plugin--load_variable.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.88433999</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>api--plugin--save_variable.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.83152801</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>api--preferences--get_value.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.689403</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>api--preferences--widget.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>525144644.11137098</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>81</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--register_launcher.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.14327103</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>api--reset_txt_focus.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>512634189.05045998</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>3</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>api--rgb_to_hsl.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.30439901</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>api--rgb_to_hsv.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779715.200831</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>api--show_error.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.41832799</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>api--show_info.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.38130498</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>api--sidebar--get_info.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.75967199</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>api--sidebar--get_selected_indices.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.72464401</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>api--tke_development.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>525144130.688173</real>
				<key>version</key>
				<dict>
					<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
					<integer>80</integer>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>api--unregister_launcher.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.19557297</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>api--utils--open_file.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779714.93654799</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>24</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Plugin API.textbundle</string>
		</array>
		<array>
			<string>api--tke_development.textbundle</string>
		</array>
		<array>
			<string>api--get_plugin_directory.textbundle</string>
		</array>
		<array>
			<string>api--get_images_directory.textbundle</string>
		</array>
		<array>
			<string>api--get_home_directory.textbundle</string>
		</array>
		<array>
			<string>api--normalize_filename.textbundle</string>
		</array>
		<array>
			<string>api--register_launcher.textbundle</string>
		</array>
		<array>
			<string>api--unregister_launcher.textbundle</string>
		</array>
		<array>
			<string>api--invoke_menu.textbundle</string>
		</array>
		<array>
			<string>api--log.textbundle</string>
		</array>
		<array>
			<string>api--show_info.textbundle</string>
		</array>
		<array>
			<string>api--show_error.textbundle</string>
		</array>
		<array>
			<string>api--get_user_input.textbundle</string>
		</array>
		<array>
			<string>api--reset_txt_focus.textbundle</string>
		</array>
		<array>
			<string>api--file--current_file_index.textbundle</string>
		</array>
		<array>
			<string>api--file--get_info.textbundle</string>
		</array>
		<array>
			<string>api--file--add_buffer.textbundle</string>
		</array>
		<array>
			<string>api--file--add_file.textbundle</string>
		</array>
		<array>
			<string>api--edit--get_index.textbundle</string>
		</array>
		<array>
			<string>api--edit--delete.textbundle</string>
		</array>
		<array>
			<string>api--edit--toggle_case.textbundle</string>
		</array>
		<array>
			<string>api--edit--lower_case.textbundle</string>
		</array>
		<array>
			<string>api--edit--upper_case.textbundle</string>
		</array>
		<array>
			<string>api--edit--rot13.textbundle</string>
		</array>
		<array>
			<string>api--edit--title_case.textbundle</string>
		</array>
		<array>
			<string>api--edit--join_lines.textbundle</string>
		</array>
		<array>
			<string>api--edit--bubble_up.textbundle</string>
		</array>
		<array>
			<string>api--edit--bubble_down.textbundle</string>
		</array>
		<array>
			<string>api--edit--comment.textbundle</string>
		</array>
		<array>
			<string>api--edit--uncomment.textbundle</string>
		</array>
		<array>
			<string>api--edit--toggle_comment.textbundle</string>
		</array>
		<array>
			<string>api--edit--indent.textbundle</string>
		</array>
		<array>
			<string>api--edit--unindent.textbundle</string>
		</array>
		<array>
			<string>api--edit--move_cursor.textbundle</string>
		</array>
		<array>
			<string>api--edit--format.textbundle</string>
		</array>
		<array>
			<string>api--edit--unformat.textbundle</string>
		</array>
		<array>
			<string>api--sidebar--get_selected_indices.textbundle</string>
		</array>
		<array>
			<string>api--sidebar--get_info.textbundle</string>
		</array>
		<array>
			<string>api--plugin--save_variable.textbundle</string>
		</array>
		<array>
			<string>api--plugin--load_variable.textbundle</string>
		</array>
		<array>
			<string>api--utils--open_file.textbundle</string>
		</array>
		<array>
			<string>api--get_default_foreground.textbundle</string>
		</array>
		<array>
			<string>api--get_default_background.textbundle</string>
		</array>
		<array>
			<string>api--color_to_rgb.textbundle</string>
		</array>
		<array>
			<string>api--get_complementary_mono_color.textbundle</string>
		</array>
		<array>
			<string>api--rgb_to_hsv.textbundle</string>
		</array>
		<array>
			<string>api--hsv_to_rgb.textbundle</string>
		</array>
		<array>
			<string>api--rgb_to_hsl.textbundle</string>
		</array>
		<array>
			<string>api--hsl_to_rgb.textbundle</string>
		</array>
		<array>
			<string>api--get_color_values.textbundle</string>
		</array>
		<array>
			<string>api--auto_adjust_color.textbundle</string>
		</array>
		<array>
			<string>api--auto_mix_colors.textbundle</string>
		</array>
		<array>
			<string>api--color_difference.textbundle</string>
		</array>
		<array>
			<string>api--preferences--widget.textbundle</string>
		</array>
		<array>
			<string>api--preferences--get_value.textbundle</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>91501ec2481d0413936dd32f17740cb83a91366690ff5bdefe9336fcccb61606</key>
			<integer>81</integer>
			<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
			<integer>44</integer>
		</dict>
	</dict>
</dict>
</plist>
