<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Application Settings.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779851.62471998</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Changing Sharing Setup via Preferences GUI.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779851.72402602</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>Setting Up On First Install.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779851.682221</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Setting Up a Share Directory.textbundle</key>
			<dict>
				<key>lastModification</key>
				<real>504779851.66931301</real>
				<key>version</key>
				<dict>
					<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Application Settings.textbundle</string>
		</array>
		<array>
			<string>Setting Up a Share Directory.textbundle</string>
		</array>
		<array>
			<string>Setting Up On First Install.textbundle</string>
		</array>
		<array>
			<string>Changing Sharing Setup via Preferences GUI.textbundle</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>dc4184af129b5cdff5d85a06d3d599a1e4167a013362fad6ed9b7032494fe238</key>
			<integer>5</integer>
		</dict>
	</dict>
</dict>
</plist>
